*{
    margin: 0;
    padding: 0;
}
.home-container{
    height: 100vh;
    background-image: url("https://images.healthshots.com/healthshots/en/uploads/2024/02/27162409/Popcorn-lungs-770x436.jpg");
    background-size: contain;
    background-position: center;
    /*background-repeat: no-repeat;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 35vw;
    color: #fff;
    background-color: rgba(1, 2, 2, 0.6);
    border-radius: 8px;
}

.home-title{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.home-button{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 8px 24px;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
}


